/* blogContentThumbnail.css */

.blog-content-thumbnail {
  display: flex;
  height: fit-content;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-content-profile {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.blog-content-profile .profile-info {
  display: flex;
  align-items: center;
}

.blog-content-profile img.profile {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.blog-content-profile .profile-name {
  font-size: 13px;
}

.thumbnail-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.thumbnail {
  width: 40%;
  height: auto;
  margin-right: 16px;
  border-radius: 8px;
}

.content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.content-section {
  display: flex;
  flex-direction: column;
}

.content-section h2 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: #242424;
}

.content-section p {
  margin: 8px 0;
  font-size: 1em;
  color: #666;
}

.meta-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}

.meta-section .date,
.meta-section .likes-container,
.meta-section .comments-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 0.9em;
  color: #999;
}

.meta-section .likes-container i,
.meta-section .comments-container i {
  margin-right: 5px;
  color: #e74c3c;
}

.icon-section {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 20px;
}

.icon-section .icon {
  margin-left: 10px;
  font-size: 1.2em;
  color: #666;
}
