body {
    font-family: Arial, sans-serif;
}

.blog-content{
    border-bottom: 1px solid #999; /* 하단에 2px 두께의 검은 선 추가 */
    padding: 30px; /* 컨텐츠 내부 여백 설정 */
}

.profile-container {
    display: flex;
    align-items: center; /* 이미지와 텍스트를 수직으로 중앙 정렬 */
    margin: 10px 0;
}

.profile-img {
    width: 25px; /* 원하는 크기로 설정 */
    height: 25px; /* 원하는 크기로 설정 */
    border-radius: 50%; /* 원형으로 만들기 */
    object-fit: cover; /* 컨테이너에 맞게 이미지 크기 조정 */
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 */
}

.profile-info {
    display: flex;
    align-items: center; /* 텍스트를 수직 중앙 정렬 */
}

.profile-name {
    font-weight: bold;
    margin: 0; /* 기본 마진 제거 */
}

.content-wrapper {
    display: flex; /* 전체 컨테이너를 나란히 배치 */
    align-items: center; /* 이미지와 텍스트를 수직으로 중앙 정렬 */
}

.content-text-container {
    flex: 1; /* 텍스트 컨테이너가 남은 공간을 차지하도록 */
    display: flex;
    flex-direction: column; /* 텍스트를 수직으로 정렬 */
    justify-content: center; /* 텍스트를 수직 중앙 정렬 */
}

.content-title {
    margin: 5px 0; /* 상하 마진 설정 */
    font-size: 1.5em; /* 폰트 크기 증가 */
    font-weight: bold; /* 폰트 굵게 */
}

.content-description {
    color: #666; /* 선택사항: 텍스트 색상 설정 */
    margin: 5px 0;
    font-size: 1.1em; /* 폰트 크기 증가 */
}

.content-meta {
    display: flex;
    gap: 10px;
    color: #999; /* 선택사항: 텍스트 색상 설정 */
    font-size: 0.9em;
}

.content-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-img {
    width: 10vw; 
    height: auto;
    object-fit: cover; /* 컨테이너에 맞게 이미지 크기 조정 */
    min-width: 50px; /* 최소 너비 설정 */
    max-height: 100px; 
}